.jumbotron {
	background-color: brown;
	color: orange;
}

body {
    background-image: url("../images/throne.jpg");
}

.panel-title {
	font-weight: bold;
	color: maroon;
}

.panel-body {
	font-weight: bold;
}